/* General */

.hide {
  display: none !important;
}

.error-message {
  color: red;
}

.loading-indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.modal-content {
  padding: 10px;
}

/* App */
.app-container {
  display: flex;
  flex-direction: row;
}

.app-content {
  width: 100%;
}

.view-container {
  position: absolute;
  left: 60px;
  top: 80px;
  padding-left: 40px;
  padding-right: 25px;
  padding-top: 30px;
  width: 95%;
  z-index: -1;
}

/* Header */
.app-header {
  position: fixed;
  left: 60px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  height: 80px;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid #d6d6d6;
  z-index: 0;
  background-color: white;
}

.header-logo-image {
  height: 79px;
}

.app-header-user-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-header-user-block-text {
  align-items: flex-end;
  margin-right: 25px;
  justify-content: center;
}

.app-header-user-block-text h2 {
  font-size: 24px;
  margin-bottom: 0px !important;
}

.app-header-user-block-text p {
  text-align: right;
  margin-bottom: 0px !important;
}

.avatar:hover {
  cursor: pointer
}

.profile-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  right: 25px;
  top: 65px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-new-org:hover {
  cursor: pointer
}

.switch-org:hover {
  cursor: pointer;
}

.logout {
  margin-bottom: 0 !important;
}

.logout:hover {
  cursor: pointer;
}

/* Navigation */

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navigation-logo {
  width: 30%;
  max-width: 350px;
  min-width: 200px;
}

.logo-image {
  width: 100%;
}

.navigation-items {
  height: 20px;
}

.navigation-link {
  color: #161925;
  font-size: 16px;
  border-right: 1px solid #161925;
  padding-right: 10px;
  padding-left: 10px;
}

.navigation-last {
  border-right: none;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 60px;
  z-index: 1;
}

.open-sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 240px;
  z-index: 1;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: 80px;
  width: 100%;
  background-color: #15e5e9;
  padding-left: 15px;
}

.sidebar-header:hover {
  cursor: pointer;
}

.sidebar-logo {
  margin-left: 15px
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding-left: 15px !important;
}

.sidebar-item {
  display: flex;
  align-items: start;
  margin-top: 45px;
  width: 100%;
}

.sidebar-item:hover {
  cursor: pointer;
}

.sidebar-link {
  font-size: 20px;
  color: #161925 !important;
  text-transform: uppercase;
  margin-left: 35px;
}

.stuck-button {
  padding: 5px !important;
  font-size: 12px !important;
  background-color: #15e5e9 !important;
  border: none !important;
}

/* Forms */

.form-title {
  text-align: left;
  font-size: 26px;
  color: #161925;
}

.form-divider {
  border: 1px solid #161925;
}

.form-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  width: 85%;
}

.form-control {
  border: 1px solid #161925 !important;
}

/* Registration */

.registration-container {
  width: 60%;
  margin: 0 auto;
}

.registration-form {
  margin-top: 50px;
}

.registration-form-group {
  width: 45% !important;
  padding-right: 0 !important;
}

.registration-button {
  background-color: #15e5e9 !important;
  border-color: #15e5e9 !important;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 108px;
}

.login-here {
  margin-top: 10px;
}

/* Login */

.login-container {
  width: 60%;
  margin: 0 auto;
}

.login-form {
  margin-top: 50px;
}

.login-button {
  background-color: #15e5e9 !important;
  border-color: #15e5e9 !important;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 108px;
}

.org:hover {
  cursor: pointer;
}

.forgot-password {
  margin-top: 10px;
}

/* Dashboard */
.dashboard {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
}

.dashboard-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-stat {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
}

.dashboard-stat-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-stat-value {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.dashboard-stat-icon {
  max-height: 30px;
}

.dashboard-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.dashboard-goal-progress {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 20px;
}

.dashboard-goal-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dashboard-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dashboard-chart-title {
  text-align: center;
}

.radial-chart {
  width: 100%;
}

.dashboard-idea-breakdown {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
}

.dashboard-top-experiments {
  margin-top: 20px;
}

.dashboard-border {
  border: 2px solid #ced3da;
  border-radius: 3px;
}

/* Goals */
.title-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addGoalForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.addGoalForm-fields {
  width: 50%;
}

.suggested-goal:hover {
  cursor: pointer;
}

/* Goal */
.goal {
  display: flex;
  flex-direction: row;
  background-color: #f5f6f7;
  margin-top: 20px;
}

.goal-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  width: 24%;
}

.edit-goal-button {
  margin-right: 2%;
  margin-bottom: 10px;
}

.add-idea-button {
  margin-bottom: 10px;
}

.goal-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 24%;
  padding: 2%;
}

.behind-goal {
  border-left: solid 10px #F48C8A;
}

.ahead-goal {
  border-left: solid 10px #81FFB0;
}

.completed-goal {
  border-left: solid 10px #15e5e9;
}

/* Progress Bar */

.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 52%;
}

.progress-bar {
  text-align: right !important;
  white-space: normal !important;
}

.progress {
  border: solid black 1px;
  height: 25% !important;
  line-height: normal !important;
}

.progress-bar-target {
  text-align: right;
}

.pace {
  border-right: 2px solid #ffc106;
}

.progress-bar-goal {
  border-right: 2px solid purple;
}

.progress-bar-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.update-goal-button {
  width: 25%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #f5f6f7 !important;
  border: 2px solid #15e5e9 !important;
  color: #15e5e9 !important;
}

.update-goal-button:hover {
  background-color: #15e5e9 !important;
  color: white !important;
}

/* Idea */

.idea {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #f5f6f7;
  margin-top: 10px;
}

.idea-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #f5f6f7;
  padding: 10px;
  padding-right: 30px;
}

.idea-right {
  display: flex;
  flex-direction: column;
}

.update-idea-button {
  margin-bottom: 5px;
}

.idea-list {
  list-style-type: none;
  padding-inline-start: 0px;
}

.addIdeaForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.addIdeaForm-fields {
  width: 50%;
}

.idea-picker {
  width: 50%;
}

.popular-idea {
  cursor: pointer;
}

/* Experiments */

.experiment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: #f5f6f7;
  padding: 20px;
}

.experiment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.experiment-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.experiment-stat {
  margin-right: 30px;
  margin-bottom: 0px;
}

.success {
  color: #28a745;
}

.experiment-buttons {
  width: auto;
  display: flex;
  flex-direction: column;
}

.update-button {
  margin-bottom: 10px;
}

.add-to-playbook-button {
  width: 150px;
}

/* Playbooks */

.playbook {
  width: 250px;
  height: 250px;
}

.clipboard {
  position: absolute;
  z-index: -1;
}

.playbook-content {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playbook-list {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0px;
  margin-top: 20px;
}

.open-playbook-button:hover {
  cursor: pointer;
}

/* tags */

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  border: 3px solid #15e5e9;
  width: 60px;
  height: 24px;
}

.tag-name {
  text-align: center;
}

.tag:hover {
  cursor: pointer;
}

.selected {
  background-color: #15e5e9;
  color: white
}

.goal-picker {
  width: 50%;
}

.tag-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tag-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}